/* Fix table head */
.tableFixHead    { overflow-y: auto; height: 500px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 18px 76px; }
th     { background:black; color: white}

.center_div{
    margin: 0 auto;
    width:80%;
}

p#a1{
color:blue;
font-size: 35px;
}
